.animdiv {
	width: 100px;
	height: 100px;
	border: 2px solid aqua;
	z-index: 10;
	bottom: 50%;
	right: 50%;
	position: absolute;
	animation: borderanim 2s infinite, divrotate 3s infinite linear;
}

.animdiv #animp{
	color: red;
	text-align: center;
	margin-top: 25px;
	animation-name: textanim;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	z-index: 10;
}

@keyframes textanim {
	0% {color: yellow;}
	50% {color: brown;}
	100% {color: red;}
}

@keyframes borderanim {
	0% {border-color: aqua;}
	20% {border-color: blue;}
	40% {border-color: RoyalBlue;}
	60% {border-color: MidnightBlue;}
	80% {border-color: DodgerBlue;}
	90% {border-color: DeepSkyBlue;}
	100% {border-color: aqua;}
}

@keyframes divrotate {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}